<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>Manage Computers</div>
        </h1>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="login-brand">
                                    Create a new Monitor
                                </div>
                                <div class="card card-primary">
                                    <div class="card-body">
                                        <form id="add-form" class="needs-validation" novalidate="">
                                            <div class="form-group">
                                                <label for="Name">Monitor Name</label>
                                                <input id="Name" type="text" class="form-control" name="Name" tabindex="1" autofocus>
                                                <span target="Name" class="error"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="Status">
                                                    Monitor Status
                                                </label>
                                                <select name="Status" class="dropdown-item-text" tabindex="2">
                                                    <option value="1">Active</option>
                                                    <option value="0">Deactive</option>
                                                </select>
                                                <span target="Status" class="error"></span>
                                            </div>
                                            <span target="ErrorMessage" class="error"></span>
                                            <div class="form-group">
                                                <button id="submit-btn" type="submit" class="btn btn-primary btn-block " tabindex="3">
                                                    Submit
                                                </button>
                                                <button id="cancel-btn" type="submit" class="btn btn-primary btn-block" tabindex="4">
                                                    Cancel
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
@section Scripts{
    <script>
       $(document).ready(function () {
            $("#add-form").on('submit', function (event) {
                event.preventDefault();
                $("#add-form-btn").attr("disabled", true);
                if (validateInput()) {
                    $.ajax({
                        url: '@Url.Action("Add", "Monitor")',
                        data: $("#add-form").serialize(),
                        type: 'POST',
                        success: function (respone) {
                            if (respone.errorCode != 0) {
                                $('span[target="ErrorMessage"]').text(respone.errorMessage);
                            } else {
                                $('span[target="ErrorMessage"]').text("Add Monitor successfully");
                                setTimeout(function () {
                                    window.location.href = '@Html.Raw(@Url.Action("MonitorPaging", "Monitor", new { PAGE_SIZE = 10, PAGE_INDEX = 1 }))';
                                }, 1000)
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        },
                        complete: function () {

                        }
                    })
                }
            })
       })
       function validateInput() {
           var ramName = $("#Name").val();
           if (ramName == '' || ramName == null) {
               $('span[target="Name"]').text('Monitor Name is required');
               return false;
           };
           return true;
       }
    </script>
}